<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	QA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>backlight-level</key>
	<data>
	e/8=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KwqHgAAAAACAFAAAAAAAAA==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEg==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B6AHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajE2ajE3AAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhUPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzMgAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFu4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQUxBQUFBQkx3SUFBQUFBRjEzcDZRUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFEZ1BERmhXTHZKd1JfdWp3Q2xkNmtmUE1xbjRhcXl6RlpRWlVF
	bFQ3NWRPenpVYUVObEdDNXN5Ty1la1JrN0ZEYTVYc0ZnblFMczJmVUtMUEoxd1NQYlVu
	aFlocjFhNzZMYmMwWmZhVTE2dU9BUjhKX18zWlBmM0lhblhMaTlCQzBmY1hhRnRYNV92
	UDNZTXZMVU5YR1c2ZzJJWVF+fhEB9V8QFmtodWNjdWkyMDAyQGljbG91ZC5jb21ZNDAy
	MDM1MjA3I0HXXenr7956XxAkRjdDNkE3MzctNjY4My00QzBCLUJBQTQtRDc5NEM1RkEz
	ODU20xcYGRobHF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJz
	dE5hbWVfEBJJblVzZU93bmVyTGFzdE5hbWVaTWFuIE5ndXllblNNYW5WTmd1eWVu0Q8e
	1R8gISIjJCUmJyhWYXBzRW52WGhvc3RuYW1lXWlkc0lkZW50aWZpZXJWc2NoZW1lXWF1
	dGhNZWNoYW5pc21aUHJvZHVjdGlvbl8QE3A3MS1mbWlwLmljbG91ZC5jb21fECQyRjBE
	MzUyOC0yMjU3LTQxMzktOUY4NC01MENCNzcxODdBQUVVaHR0cHNVdG9rZW4ACAAhADMA
	SABSAGEAaAB2AH8AiACQAJUAngC0ALYAuADcAasBrgHHAdEB2gIBAggCIAI2AksCVgJa
	AmECZAJvAnYCfwKNApQCogKtAsMC6gLwAAAAAAAAAgEAAAAAAAAAKQAAAAAAAAAAAAAA
	AAAAAvY=
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
	<key>platform-uuid</key>
	<data>
	O9LvAsA0STin/LwnzOMcoQ==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAIA//8AAAQBKgAGAAAAAAhQLwAAAACICk4MAAAA
	AKlkX0G42mRCgi5aFHoA4SQCAgQDJAD3/HS+fAvzSZFHAfQELmhCjUwEiHGwzESq0ImC
	INa/W3//BAA=
	</data>
</dict>
</plist>